<h1>Home#show</h1>
<p>Find me in app/views/home/show.html.erb</p>

Name: <%= @cat_id.title %>
<br>
Description: <%= @cat_id.description %>
<br>
Price: <%= @cat_id.price %>$
<br>
<button>Add to Cart</button>


